name: Publish Docs

on:
  push:
    branches:
      - master
    paths:
      - .github/**
      - docs/**
      - src/devops_final_backend/**
  workflow_dispatch:

jobs:
  build_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install the latest version of uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.13"
          enable-cache: true

      - run: uv run --frozen sphinx-build -b html docs/source docs/build

      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GH_PAT }}
          publish_dir: docs/build
